:root {
  --font-stack: sans-serif;
  --background: hsl(0, 0%, 100%);
  --graph-background: var(--background);
  --tooltip-background: hsl(0, 15%, 65%);
  --graph-text-color: #222;
  --tier-1-colour: hsl(358, 77%, 35%);
  --tier-2-colour: hsl(22, 87%, 42%);
  --tier-3-colour: hsl(29, 93%, 44%);
  --tier-4-colour: hsl(36, 100%, 48%);
  --selected-node-border: black;
  --parent-selected-node-border: rgb(75, 75, 75);
}
* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

h1, h2, p, ul {
  padding-bottom: 0.5em;
}

html {
  font-family: var(--font-stack);
  font-size: 20px;
  font-weight: normal;
}

.centre-column {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

body > header {
  padding: 2em;
  background: var(--background);
  display: flex;
  align-items: center;
}

body > header > img {
  height: 2rem;
  padding-right: 1em;
}

.page-footer {
  color: white;
  background: #444;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.8em;
}
.page-footer a {
  color: hsl(40, 60%, 50%);
}

main section h1 {
  font-size: 2em;
}

#tree {
  background: var(--graph-background);
  overflow: hidden;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  #tree {
    display: flex;
  }
}

#visualisation svg {
  padding: 1em;
}

/* Tooltip */
.tooltip {
  background-color: var(--tooltip-background);
  padding: 1em;
  width: 20em;
  box-sizing: border-box;
}

/* Graph */
g, #labels text {
  pointer-events: none;
}
#nodes {
  fill: hsl(0, 0%, 25%);
  stroke: none;
}
#nodes circle {
  pointer-events: auto;
}
#nodes .selected circle {
  stroke: var(--selected-node-border);
  stroke-width: 5px;
}
#nodes .selected.child circle {
  stroke: var(--parent-selected-node-border);
}
#nodes .root {
  fill: var(--tier-1-colour);
}
#nodes .domain {
  fill: var(--tier-2-colour);
}
#nodes .data-class {
  fill: var(--tier-3-colour);
}
#nodes .key-data-entity {
  fill: var(--tier-4-colour);
}
#nodes .collapsed {
  stroke-width: 5px;
  stroke: #444;
}

#edges {
  stroke: #bbb;
  stroke-width: 1px;
}
#edges .selected {
  stroke: var(--parent-selected-node-border);
  stroke-width: 2px;
}

#labels text {
  font-size: 0.8rem;
  fill: var(--graph-text-color);
}
#labels text.outer {
  font-size: 0.5rem;
}


/* Tag cloud */
.tag-cloud {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.tag-cloud li {
  font-size: 0.8em;
  color: var(--tier-1-colour);
  background: var(--tier-4-colour);
  border-radius: 1em;
  padding: 0.2em 0.6em;
}
#issuer-root { 
  /* Example formatting for parent */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid gray;
  background: white;
  z-index: 10;
}
.issuer {
  /* Variable overrides - set at :root in issuer.css */
  --issuer-header-fg: hsl(0, 0%, 100%);
  --issuer-header-bg: hsl(325, 69%, 48%);
  --issuer-font-size: 0.8rem;
  --issuer-error-colour: hsl(0, 75%, 50%);
}
@media (min-width: 576px) {
  #issuer-root {
    left: initial;
  }
  .issuer {
    width: 30em;
  }
}