* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 16px;
  font-weight: normal;
}

body > * {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

body > header {
  padding: 2em;
  background: #fff;
  display: flex;
  align-items: center;
}

body > header > img {
  height: 2rem;
  padding-right: 1em;
}

main section h1 {
  font-size: 1em;
}

.graph {
  background-color: #dee;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  position: relative;
}

/* Tooltip */
.tooltip {
  background-color: red;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.tooltip.hide {
  display: none;
}

/* Graph */
#nodes {
  stroke: #111;
  stroke-width: 1px;
}
#nodes .domain {
  fill: yellow;
}
#nodes .data-class {
  fill: blue;
}
#nodes .critical-data-entity {
  fill: green;
}
#edges {
  stroke: #999;
  stroke-opacity: 0.6;
}