:root {
  --font-stack: sans-serif;
  --background: hsl(0, 0%, 100%);
  --graph-background: var(--background);
  --graph-text-color: #222;
  --tier-1-colour: #9E151A;
  --tier-2-colour: #C6500E;
  --tier-3-colour: #DA6D08;
  --tier-4-colour: #F39200;
}
* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

html {
  font-family: var(--font-stack);
  font-size: 20px;
  font-weight: normal;
}

.centre-column {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

body > header {
  padding: 2em;
  background: var(--background);
  display: flex;
  align-items: center;
}

body > header > img {
  height: 2rem;
  padding-right: 1em;
}

.page-footer {
  color: white;
  background: #444;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.8em;
}
.page-footer a {
  color: hsl(40, 60%, 50%);
}

main section h1 {
  font-size: 2em;
}

.graph {
  background: var(--graph-background);
  overflow: hidden;
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* Tooltip */
.tooltip {
  background-color: red;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.tooltip.hide {
  display: none;
}

/* Graph */
g, #nodes text {
  pointer-events: none;
}
#nodes {
  fill: hsl(0, 0%, 25%);
  stroke: none;
}
#nodes text {
  font-size: 0.8rem;
  fill: var(--graph-text-color);
}
#nodes circle {
  pointer-events: auto;
}
#nodes .root {
  fill: var(--tier-1-colour);
}
#nodes .domain {
  fill: var(--tier-2-colour);
}
#nodes .data-class {
  fill: var(--tier-3-colour);
}
#nodes .key-data-entity {
  fill: var(--tier-4-colour);
}
#nodes .collapsed {
  stroke-width: 5px;
  stroke: #444;
}
#edges {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 3px;
}

table {
  border-collapse: collapse;
}
.tooltip th, .tooltip td {
  border: 1px solid #444;
  padding: 0.5em;
}
